<?xml version="1.0"?>
<config>
    <modules>
        <Taply_Order>
            <version>1.1.1</version>
        </Taply_Order>
    </modules>
    
    <admin>
        <routers>
            <admintaply>
                <args>
                    <use>admintaply</use>
                    <module>Taply_Order</module>
                </args>
            </admintaply>
        </routers>
    </admin>
    
<!--    <admin>
        <routers>
            <taply_paybutton_adminhtml>
                <use>taply</use>
                <args>
                    <module>Taply_Paybutton_Adminhtml</module>
                    <frontName>taply</frontName>
                </args>
            </taply_paybutton_adminhtml>
        </routers>
    </admin>-->
<!--    <default>
        <payment>
            <taply>
                <active>1</active> 
                <model>paybutton/payment</model>
            </taply>
        </payment>
    </default>-->
</config>
