<?xml version="1.0"?>
<config>
    <modules>
        <Taply_Paybutton>
            <version>0.1.0</version>
        </Taply_Paybutton>
    </modules>
    <frontend>
        <routers>
            <taply>
                <use>standard</use>
                <args>
                    <module>Taply_Paybutton</module>
                    <frontName>taply</frontName>
                </args>
            </taply>
        </routers>
        <layout>
            <updates>
                <taply>
                    <file>taply.xml</file>
                </taply>
            </updates>
        </layout>
    </frontend>
    
    <global>
        <models>
            <paybutton>
                <class>Taply_Paybutton_Model</class>
                <resourceModel>viewtype</resourceModel>
                <resourceModel>payment</resourceModel>
            </paybutton>
        </models>
        <blocks>
            <paybutton>
                <class>Taply_Paybutton_Block</class>
            </paybutton>
        </blocks>
    </global>
    <default>
        <payment>
            <taply>
                <active>1</active> 
                <model>paybutton/payment</model>
            </taply>
        </payment>
    </default>
</config>
